<!DOCTYPE html>
<html>
<head>
  <title>Site Notifier</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <ul class="hmenu">
    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
  </ul>
  
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
  
  <% unless current_announcements.empty? %>
  <div id="announcement">
    <p class="right">x <%= link_to "close", dismiss_path, :remote => true %></p>
    <div>
        <h3>An Important Message:</h3>
        <% for announcement in current_announcements %>
          <p><%=h announcement.message %></p>
        <% end %>
    </div>
  </div>
  <% end %>
  
  <%# add alerts %>
  
  <%= yield %>
  
  <div id="footer">
    <p>This is the Footer</p>
  </div>

</body>
</html>
